<form action="https://buttondown.email/api/emails/embed-subscribe/davidhermes" method="post" target="popupwindow"
      class="embeddable-buttondown-form footer-email-form">
    <h2 class="footer-email-title">Subscribe to the email list</h2>
    <p class="footer-email-body">Subscribe to the email list to receive the latest updates immediately and also a weekly
        email on the interesting things I've found on the internet.</p>
    <label class="footer-email-label" for="bd-email">Enter your email</label>
    <div class="footer-email-subscribe-inputs">
        <input type="email" name="email" id="bd-email" placeholder="name@email.com" class="footer-email-email">
        <input type="hidden" value="1" name="embed">
        <input type="submit" value="Subscribe" class="footer-email-submit">
    </div>
    <p class="footer-email-powered-by">
        <a href="https://buttondown.email" target="_blank" rel="noreferrer">
            Powered by Buttondown.
        </a>
    </p>
</form>

<footer class="site-footer">
    <div class="site-footer-license">
        <p>All content (unless otherwise stated) is released under the <a
                href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
            International License.</a></p>
    </div>
    <div class="site-footer-social-media">
        <p><a href="https://twitter.com/pdlozano">Twitter</a></p>
        <p><a href="https://www.reddit.com/user/pdlozano">Reddit</a></p>
        <p><a href="https://www.instagram.com/pd.lozano/">Instagram</a></p>
    </div>
    <div class="site-footer-other-links">
        <p><a href="https://omega.davidlozano.me/sitemap.xml">Sitemap</a></p>
    </div>
</footer>