<header class="site-header">
    <div class="site-meta"><a href="/">Omega <span class="baybayin">(Omega)</span></a></div>

    <nav class="site-header-nav">
        <label for="hamburger">☰</label>
        <input type="checkbox" id="hamburger">

        <ul class="site-header-items">
            <li class="site-header-item"><a href="/about/">About</a></li>
            <li class="site-header-item"><a href="/archives/">Archives</a></li>
        </ul>
    </nav>
</header>
