<header class="site-header">
    <div class="site-meta"><a href="/">Omega <span class="baybayin">(Omega)</span></a></div>

    <nav class="site-header-nav">
        <button id="hamburger">☰</button>

        <ul class="site-header-items">
            <li class="site-header-item"><a href="/about/">About</a></li>
            <li class="site-header-item"><a href="/archives/">Archives</a></li>
        </ul>
    </nav>
</header>

<script>
    const hamburger = document.getElementById("hamburger");

    hamburger.addEventListener("click", (event) => {
        event.preventDefault();
        hamburger.classList.toggle("checked");
    });
</script>
